@import "@fontsource/jost/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar Styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
    height: 8px; /* Horizontal scrollbar height */
  }

  /* Scrollbar Track (Background) */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #d9d9d94d; /* Background color */
    border-radius: 10px;
  }

  /* Scrollbar Handle (Thumb) */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(
      299.53deg,
      #000000 29.05%,
      #372054 84.15%,
      #5420a4 100.44%
    );
    border-radius: 10px;
  }

  /* Scrollbar Handle on Hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      299.53deg,
      #000000 20%,
      #372054 70%,
      #5420a4 90%
    );
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
